.card {
  position: relative;
  z-index: 0;

  padding-top: 19px;
  padding-bottom: 25px;
  display: grid;

  @media (max-width: $breakpoint-small-down) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img link"
      "img list"
      "button button";
  }

  @media (min-width: $breakpoint-medium) {
    padding: 8px 38px 40px;
    grid-template-rows: 200px auto;
    grid-template-areas:
      "img"
      "link"
      "list"
      "button";

    background-color: $color-gray-50;
    background-image: linear-gradient(to bottom, $color-white 80px, $color-gray-50 80px);
  }
}

.card__link {
  margin-bottom: 9px;
  padding-right: 60px;
  grid-area: link;

  color: $color-gray-850;

  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 80px;
    left: 0;
  }

  @media (min-width: $breakpoint-medium) {
    padding: 0 40px;

    &::after {
      bottom: 120px;
    }
  }

  @media (min-width: $breakpoint-large) {
    padding: 0 20px;
  }
}

.card__heading {
  margin: 0;

  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__picture,
.card__img {
  grid-area: img;
  align-self: center;
  justify-self: center;
  width: auto;
}

.card__list {
  margin: 0;
  margin-bottom: 13px;
  padding: 9px 0;
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;

  color: $color-gray-700;

  font-size: 12px;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 32px;

    font-size: 16px;
  }
}

.card__title {
  margin: 0;
  padding-right: 4px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid $color-gray-250;
  }
}

.card__definition {
  margin: 0;
  padding-left: 4px;

  text-align: right;

  @media (min-width: $breakpoint-medium) {
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid $color-gray-250;
  }
}

.card__button {
  position: relative;
  z-index: 1;

  grid-area: button;
}
