.page-main__header {
  padding: 28px 0 40px;
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;

  font-family: $font-heading;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__subheading {
  margin: 0;

  font-family: $font-heading;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    font-size: 20px;
    line-height: 30px;
  }
}
