.page-footer {
  padding: 20px 0 22px;

  background-color: $color-gray-50;

  @media (min-width: $breakpoint-medium) {
    padding: 58px 0 55px;
  }
}

.page-footer__container {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
  }
}

.page-footer__logo {
  @media (max-width: $breakpoint-small-down) {
    margin-bottom: 24px;
  }
}

.page-footer__social {
  margin: 0;

  @media (max-width: $breakpoint-small-down) {
    margin-bottom: 22px;

    border-top: 1px solid $color-gray-200;
    border-bottom: 1px solid $color-gray-200;
  }
}
