.show-more {
  padding: 78px 0 25px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: 50% 25px;
  background-image: url("../img/icons/plus-small.svg");

  @media (min-width: $breakpoint-medium) {
    padding: 160px 38px 38px;
    display: flex;
    flex-direction: column;

    background-position: 50% 52px;
    background-image: url("../img/icons/plus-large.svg");
    border: 1px solid $color-gray-50;
  }
}

.show-more__heading {
  margin: 0;
  margin-bottom: 8px;

  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 23px;

    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 20px;

  color: $color-gray-700;

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $breakpoint-medium) {
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    margin-top: auto;
  }
}
